/port/platform/espressif/esp32/sdk/esp-idf/runner/build
/port/platform/nordic/nrf53/sdk/nrfconnect/runner/build_*
/port/platform/nordic/nrf52/sdk/gcc/runner/build
/port/platform/nordic/nrf52/sdk/gcc/runner/_build
/port/platform/nordic/nrf52/sdk/ses/runner/Output
/port/platform/nordic/nrf52/sdk/ses/runner/*.jlink
/port/platform/stm/stm32f4/sdk/cube/runner/Debug
/port/platform/stm/stm32f4/sdk/cube/runner/Release
/port/platform/stm/stm32f4/sdk/cube/runner/.settings
/port/platform/stm/stm32f4/sdk/cube/runner/*.launch
/port/platform/stm/stm32f4/sdk/cube/test_only_*
sdkconfig
*.emSession
*.pyc
doxygen_output
_jenkins_work
