/port/platform/esp-idf/mcu/esp32/runner/build
/port/platform/zephyr/runner/build_*
/port/platform/nrf5sdk/mcu/nrf52/gcc/runner/build
/port/platform/nrf5sdk/mcu/nrf52/gcc/runner/_build
/port/platform/nrf5sdk/mcu/nrf52/gcc/runner/build_*
/port/platform/nrf5sdk/mcu/nrf52/ses/runner/Output
/port/platform/nrf5sdk/mcu/nrf52/ses/runner/*.jlink
/port/platform/stm32cube/mcu/stm32f4/runner/Debug
/port/platform/stm32cube/mcu/stm32f4/runner/Release
/port/platform/stm32cube/mcu/stm32f4/runner/.settings
/port/platform/stm32cube/mcu/stm32f4/runner/*.launch
/port/platform/stm32cube/mcu/stm32f4/test_only_*
/port/platform/static_size/build
sdkconfig
*.emSession
*.pyc
doxygen_output
_jenkins_work
_work
*.state.json
u_flags.yml
config.yml
_build
/port/platform/arduino/ubxlib
.DS_Store
