/* This used to be on 2 but we need to put the SPI there so it has moved to 3. */
&uart3 {
    status = "okay";
    current-speed = <115200>;
    tx-pin = <42>;
    rx-pin = <43>;
/* For no flow control set "/delete-property/ rts-pin;" and corresponding for cts. Remove "hw-flow-control" line. */
    rts-pin = <44>;
    cts-pin = <45>;
    hw-flow-control;
};
&i2c1 {
    status = "okay";
    /* Otherwise board default settings are good. */
};
&uart2 {
    /* Disable UART2 so that we can use SPI2 */
    status = "disabled";
};
/* Can't use the default SPI pins as they overlap with the flow control pins we use for the UART. */
&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    sck-pin = <27>;
    miso-pin = <25>;
    mosi-pin = <26>;
};
