/* This configuration is specifically modified for the tests as run on a NRF52840 board wired in the u-blox test system. */
/* For default settings, refer to the file of the same name in the boards/arm directory of Zephyr. */
&uart0 {
    status = "okay";
    current-speed = <115200>;
    tx-pin = <44>;
    rx-pin = <43>;
/* For flow control specify the rts/cts pins the same way as tx/rx. Uncomment "hw-flow-control" line. */
    /delete-property/ rts-pin; 
    /delete-property/ cts-pin; 
/*    hw-flow-control; */
};
&uart1 {
    status = "okay";
    current-speed = <115200>;
    tx-pin = <42>;
    rx-pin = <45>;
/* For flow control specify the rts/cts pins the same way as tx/rx. Uncomment "hw-flow-control" line. */
    /delete-property/ rts-pin; 
    /delete-property/ cts-pin; 
/*    hw-flow-control; */
};
&i2c1 {
    status = "okay";
    /* Otherwise board default settings are good. */
};
