&uart2 {
    status = "okay";
    current-speed = <115200>;
    tx-pin = <42>;
    rx-pin = <43>;
/* For no flow control set "/delete-property/ rts-pin;" and corresponding for cts. Remove "hw-flow-control" line. */
    rts-pin = <44>;
    cts-pin = <45>;
    hw-flow-control;
};
&i2c1 {
    status = "okay";
    /* Otherwise board default settings are good. */
};