&uart1 {
    status = "okay";
    current-speed = <115200>;
    tx-pin = <41>;
    rx-pin = <12>;
/* For no flow control set rts-pin and cts-pin to 0xFFFFFFFF (NRF_UARTE_PSEL_DISCONNECTED) and remove the "hw-flow-control" line. */
    rts-pin = <14>;
    cts-pin = <15>;
    hw-flow-control;
 };
